/*menu*/

.menu{
    display: flex;
}
.menu-item {
    /*width를 설정하던지 grow를 0보다 크게주던지*/
    /*flex-grow: 1;*/
    width: 25%;
    background-color: gold;
    transition: 0.5s;
}

.menu-item:hover {
    background-color: red;
    width: 35%;
}
.menu-link{
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1em;
    display: block;
    text-decoration: none;
    text-align: center;
}

.menu-link:hover{
    color: white ;
}

